* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.container .block {
  position: relative;
  width: 5vw;
  height: 5vw;
  background: url(https://source.unsplash.com/1600x900/?avengers);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
