* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: consolas;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #232323;
}

span {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 8px 15px;
  margin: 8px 4px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#202020));
  background: linear-gradient(180deg, #282828, #202020);
  -webkit-box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
          box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

span:last-child {
  width: 100%;
}

span::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#232323), to(#4a4a4a));
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}

span i {
  position: relative;
  color: #fff;
  font-style: normal;
  font-size: 1.5em;
  text-transform: uppercase;
}
